/*La partie nav*/

body nav:first-child{
    background-color:black;
    padding-top: 25px;
    padding-bottom: 25px;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    color: white;
    text-align: center;
    justify-content: center;
    font-size: 18px;
}

body nav:first-child .span-nav, span:nth-child(3){
    text-decoration: underline coral solid 3px;
}

body nav:first-child span:nth-child(5){
    float: right;
    margin-right: 25px;
}

body nav:first-child a{
    color: coral;
    text-decoration: none;
}

body nav:first-child a:hover{
    text-decoration: underline;
}

body nav:first-child a:first-child span:first-child{
    text-transform: uppercase;
    font-weight: bold;
}

body nav:first-child a span:last-child{
    text-transform: capitalize;
    font-weight: bold;
}

body nav:first-child a:last-child span:first-child{
    font-family: sans-serif;
}

/* La partie header */

header div ul li{
    list-style: none;
}

header div ul li a{
    text-decoration: none;
    color: black;
}

header div ul{
    display: inline-block;
}

header div ul li{
    display: inline-block;
    margin-left: 12px;
    font-size: 19px;
    font-family: serif;
    font-weight: lighter;
}

header div ul:first-child{
    float: left;
    margin-left: 100px;
    width: 40%;
}

header div ul:last-child{
    width: 50%;
}

header div{
    width: 100%;
}

header{
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
}

header div ul:last-child li:last-child span{
    background-color:black;
    color: aliceblue;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}

header div ul:last-child li:last-child span:hover{
    opacity: 0.7;
}

header div ul:last-child li:first-child span:hover{
    opacity: 0.6;
    background-color: rgb(101, 99, 99);
    color:black;
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}

header div ul:first-child li:nth-child(2) span:hover, li:nth-child(3) span:hover, li:nth-child(4) span:hover{
    background-color: rgba(243, 83, 179, 0.304);
    color:rgb(224, 23, 147);
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
}

/*second nav*/

body nav:last-child{
    width: 100%;
    border-top: 1px solid;
    border-bottom: solid 1px;
    background-color:rgb(255, 255, 255);
    display: block;
    margin-left: -10px;
    margin-right: -10px;
    height: 40px;
}

body nav:last-child div{
    width: 90%;
    margin-left: 60px;
}


body nav:last-child span:first-child{
    float: left;
    margin-left: 100px;
    padding-top: 10px;
    padding-bottom: 20px;
}

body nav:last-child span:last-child{
    float: right;
    padding-top: 10px;
    padding-bottom: 20px;
    margin-right: 40px;
}